@import './reset.css';

html,
body {
  background-color: #303030;
  color: #ffffff;
}
/* 
#app {
  min-height: 100vh;
  display: flex;
} */

.forge-bot-wallet-button {
  background-color: rgb(167, 0, 0) !important;
}

.forge-bot-wallet-button:hover {
  background-color: rgb(106, 6, 6) !important;
}

/* .wallet-adapter-button-trigger {
  background-color: rgb(167, 0, 0) !important;
} */
